body {
	background:linear-gradient(135deg,#89f7fe 0%, #66a6ff 100%);
    margin: 0;
    padding: 20px;
	font-family: 'Arial',sans-serif;
}

.container {
	max-width: 800px;
    margin: auto;
    background: #fff;
    border-radius: 8px;
    box-shadow: 0 2px 4px rgba(0,0,0,0.1);
    padding: 24px;
}


h1{
    color: #333;
}
    
h1 {
    text-align: center;
    color: #333;
}
      
h2{
    color:#66a6ff;
}
      
p{
    color: #666;
    line-height: 1.6;
    font-weight: 600;
}
h1,h2,h3{
    color: #66a6ff;
}

ul{
    color: #66a6ff;
}

      
      
